<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Phân tich du lieu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    <br>
    <h1 class="display-5">Drug classification</h1>
    <form action="classify" method="GET">
      <div class="mb-3">
        <label class="form-label">Age of the Patien</label>
        <input type="number" class="form-control" name= "age" id="age" >

      </div>
      <div class="mb-3">
        <label class="form-label">Sodium to potassium Ration in Blood</label>
        <input type="number" step=0.01  class="form-control" name= "na_to_K" id="na_to_K" aria-describedby="na_to_KHelp">
        <div id="na_to_KHelp" class="form-text">Sodium to potassium Ration in Blood</div>
      </div>       
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="select_sex">
          <option selected>Gender of the patients</option>
          <option value="1">MALE</option>
          <option value="2">FEMALE</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="select_cholesterol">
          <option selected >Cholesterol Levels</option>
          <option value="0">HIGH</option>
          <option value="1">NORMAL</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="select_bp">
          <option selected>Blood Pressure Levels</option>
          <option value="0">HIGH</option>
          <option value="1">LOW</option>
          <option value="2">NORMAL</option>
        </select>
      </div>      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
</body>




</html>